
.border-start-sm {
    border-left: $border-width*.5 solid $border-color !important;
}

.border-start-md {
    border-left: $border-width*2 solid $border-color !important;
}

.border-start-lg {
    border-left: $border-width*4 solid $border-color !important;
}

.border-end-sm {
    border-right: $border-width*.5 solid $border-color !important;
}

.border-end-md {
    border-right: $border-width*2 solid $border-color !important;
}

.border-end-lg {
    border-right: $border-width*4 solid $border-color !important;
}


// gray background fill variations
@each $color, $value in $grays {
    // Top
    .border-top-gray-#{$color} {
        border-top: $border-width solid $value !important;
    }

    .border-top-gray-#{$color}-sm {
        border-top: $border-width*.5 solid $value !important;
    }

    .border-top-gray-#{$color}-md {
        border-top: $border-width*2 solid $value !important;
    }

    .border-top-gray-#{$color}-lg {
        border-top: $border-width*4 solid $value !important;
    }

    // Bottom
    .border-bottom-gray-#{$color} {
        border-bottom: $border-width solid $value !important;
    }

    .border-bottom-gray-#{$color}-sm {
        border-bottom: $border-width*.5 solid $value !important;
    }

    .border-bottom-gray-#{$color}-md {
        border-bottom: $border-width*2 solid $value !important;
    }

    .border-bottom-gray-#{$color}-lg {
        border-bottom: $border-width*4 solid $value !important;
    }

    // Right
    .border-end-gray-#{$color} {
        border-right: $border-width solid $value !important;
    }

    .border-end-gray-#{$color}-sm {
        border-right: $border-width*.5 solid $value !important;
    }

    .border-end-gray-#{$color}-md {
        border-right: $border-width*2 solid $value !important;
    }

    .border-end-gray-#{$color}-lg {
        border-right: $border-width*4 solid $value !important;
    }

    // Left
    .border-start-gray-#{$color} {
        border-left: $border-width solid $value !important;
    }

    .border-start-gray-#{$color}-sm {
        border-left: $border-width*.5 solid $value !important;
    }

    .border-start-gray-#{$color}-md {
        border-left: $border-width*2 solid $value !important;
    }

    .border-start-gray-#{$color}-lg {
        border-left: $border-width*4 solid $value !important;
    }

    // All
    .border-gray-#{$color} {
        border: $border-width solid $value !important;
    }

    .border-gray-#{$color}-sm {
        border: $border-width*.5 solid $value !important;
    }

    .border-gray-#{$color}-md {
        border: $border-width*2 solid $value !important;
    }

    .border-gray-#{$color}-lg {
        border: $border-width*4 solid $value !important;
    }
}


// theme color variations
@each $color, $value in $theme-colors {
    // Top
    .border-top-#{$color} {
        border-top: $border-width solid $value !important;
    }

    .border-top-#{$color}-sm {
        border-top: $border-width*.5 solid $value !important;
    }

    .border-top-#{$color}-md {
        border-top: $border-width*2 solid $value !important;
    }

    .border-top-#{$color}-lg {
        border-top: $border-width*4 solid $value !important;
    }

    // Bottom
    .border-bottom-#{$color} {
        border-bottom: $border-width solid $value !important;
    }

    .border-bottom-#{$color}-sm {
        border-bottom: $border-width*.5 solid $value !important;
    }

    .border-bottom-#{$color}-md {
        border-bottom: $border-width*2 solid $value !important;
    }

    .border-bottom-#{$color}-lg {
        border-bottom: $border-width*4 solid $value !important;
    }

    // Right
    .border-end-#{$color} {
        border-right: $border-width solid $value !important;
    }

    .border-end-#{$color}-sm {
        border-right: $border-width*.5 solid $value !important;
    }

    .border-end-#{$color}-md {
        border-right: $border-width*2 solid $value !important;
    }

    .border-end-#{$color}-lg {
        border-right: $border-width*4 solid $value !important;
    }

    // Left
    .border-start-#{$color} {
        border-left: $border-width solid $value !important;
    }

    .border-start-#{$color}-sm {
        border-left: $border-width*.5 solid $value !important;
    }

    .border-start-#{$color}-md {
        border-left: $border-width*2 solid $value !important;
    }

    .border-start-#{$color}-lg {
        border-left: $border-width*4 solid $value !important;
    }

    // All
    .border-#{$color} {
        border: $border-width solid $value !important;
    }

    .border-#{$color}-sm {
        border: $border-width*.5 solid $value !important;
    }

    .border-#{$color}-md {
        border: $border-width*2 solid $value !important;
    }

    .border-#{$color}-lg {
        border: $border-width*4 solid $value !important;
    }
}
