/* stylelint-disable
    declaration-no-important,
    property-disallowed-list,
*/

.modified.invalid {
  @extend .is-invalid;
}

.modified.valid {
  @extend .is-valid;
}

.validation-message {
  @extend .invalid-feedback;
  display: block;
}

.navbar-nav .nav-search {
  background-color: rgba(230, 230, 230, .5);
  border-color: rgba(230, 230, 230, .5) !important;
  box-shadow: none !important;
  transition: $transition-base;
  transition-property: background-color, border-color;

  &:visited,
  &:focus-within {
    background-color: rgba(230, 230, 230, .5);
    border-color: rgba(230, 230, 230, .5) !important;
  }

  &:hover {
    background-color: rgba(222, 222, 222, .5);
    border-color: rgba(222, 222, 222, .5) !important;
  }

  &:active,
  &:focus {
    background-color: #fff;
    border-color: #fff !important;
  }
}

.completer-title {
  display: block;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  font-family: $font-family-sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.completer-dropdown,
.completer-dropdown-holder,
.completer-row,
.completer-description {
  width: 100% !important;
}

.completer-row {
  width: 100% !important;
  padding: 1rem 1.25rem 1.25rem !important;
  margin-bottom: 0 !important;
}

.completer-selected-row {
  color: #000 !important;
  background-color: rgba(230, 230, 230, .5) !important;
}

.completer-description {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base !important;
}

.completer-dropdown {
  position: relative;
  top: 3.25rem;
  padding: 0 !important;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  border-radius: .25rem !important;
  box-shadow: 0 .25rem 2rem 0 rgba(0, 0, 0, .2);
}

.custom-control {
  padding-left: 1.5rem;

  .custom-control-label {
    &::before {
      left: -1.5rem;
    }

    &::after {
      left: -1.5rem;
    }
  }
}

.form-label {
  font-size: .75rem;
  font-weight: 600;
}


@each $color, $value in $theme-colors {
    .form-switch-#{$color}:checked {
        background-color: $value !important;
        border-color: $value !important;
    @if ($color == "light") {
            color: $gray-700 !important;
        }
    }
}

/* stylelint-enable */
