.dropdown-item {
    .la {
        margin-right: $spacer;
    }
}

.img-profile {
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.img-profile-lg {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    text-align: center;
}

.img-profile-xl {
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    font-size: 5rem;
    text-align: center;
}

.txt-profile {
    line-height: 4rem;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.login-container {
    /*padding: 0 2rem;
    color: $light;*/
    max-width: 32rem;
    padding: 2rem;
    width: 100%;

    .logo {
        width: 100%;
        height: auto;
        max-width: 16rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

@include media-breakpoint-up(md) {
    .login-container {
        padding: 3rem;
    }
}

.motd {
    color: #fff;
    max-width: 48rem;
    width: 100%;
}
/*@include media-breakpoint-up(md) {
    .motd-container, .login-container {
        height: 100%;
        padding: 0 4rem;
    }
}

@include media-breakpoint-up(lg) {
    .motd-container, .login-container {
        padding: 0 8rem;
    }
}*/
.motd-background {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.33) 20%, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 0.67) 80%, rgba(0, 0, 0, 0.75) 100%), url('/images/christopher-gower-289516-unsplash.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cursor-link {
    cursor: pointer;
}

.spinner {
    width: 10rem;
    height: 10rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@include media-breakpoint-up(sm) {
    .spinner {
        left: calc(8rem + 50%);
    }
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
