/* stylelint-disable
    property-disallowed-list,
    function-disallowed-list,
    selector-max-id,
    value-no-vendor-prefix
*/

body {
  image-rendering: -webkit-optimize-contrast; // Fixes blurry downsized images in webkit browsers.
}

.dropdown-item {
  .la {
    margin-right: $spacer;
  }
}

.img-profile {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.img-profile-lg {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}

.img-profile-xl {
  width: 10rem;
  height: 10rem;
  font-size: 5rem;
  line-height: 10rem;
  text-align: center;
}

.txt-profile {
  display: block;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  border-radius: 50%;
}

.chart-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  margin: auto;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.login-container {
  width: 100%;

  /* padding: 0 2rem;
    color: $light; */
  max-width: 32rem;
  padding: 2rem;

  .logo {
    width: 100%;
    max-width: 16rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .login-container {
    padding: 3rem;
  }
}

.motd {
  width: 100%;
  max-width: 48rem;
  color: #fff;
}

/* @include media-breakpoint-up(md) {
    .motd-container, .login-container {
        height: 100%;
        padding: 0 4rem;
    }
}

@include media-breakpoint-up(lg) {
    .motd-container, .login-container {
        padding: 0 8rem;
    }
} */
.motd-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .33) 20%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .67) 80%, rgba(0, 0, 0, .75) 100%), url("/images/christopher-gower-289516-unsplash.jpg");
  background-size: cover;
}

.cursor-link {
  cursor: pointer;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
}

@include media-breakpoint-up(sm) {
  .spinner {
    left: calc(8rem + 50%);
  }
}


#blazor-error-ui {
  position: fixed;
  bottom: 0;
  right: 7px;
  right: 7px;
  z-index: 1200;
  display: none;
}

#blazor-error-ui .dismiss {
  position: absolute;
  top: .5rem;
  right: .75rem;
  cursor: pointer;
}

/* stylelint-enable */
