.nav-link-skeleton {
    width: 90%;
    height: 15px;
    margin: 9px 0;
    border-radius: 3px;
    color: transparent !important;
    user-select: none;
    cursor: default;
    @extend .skeleton-shimmer;
}

.server-dropdown-skeleton {
    width: 155px;
    height: 30px;
    margin: 9px 20px;
    border-radius: 3px;
    color: transparent !important;
    user-select: none;
    cursor: default;
    @extend .skeleton-shimmer;
}

@keyframes skeletonShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.skeleton-shimmer {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: skeletonShimmer;
    animation-timing-function: linear;
    background: $sl-gray-100;
    background: linear-gradient(to right, $sl-gray-100 8%, $sl-gray-50 18%, $sl-gray-100 33%);
    background-size: 800px 104px;
    position: relative;
}