/* stylelint-disable declaration-no-important, selector-no-qualifying-type, property-disallowed-list */

@import "fluent-ui-icons-filled";
@import "fluent-ui-icons-regular";

.text-break-all {
  word-break: break-all;
}

.formatted-block {
  padding: 4rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  word-break: break-all;
  white-space: pre-line;
  border-radius: 8px;

  p {
    margin: 0;
  }
}

.pre-line {
  white-space: pre-line;
}

.text-decorate {
  text-decoration: underline;
}


h1, .h1 {
  font-size: $h1-font-size !important;
}

h2, .h2 {
  font-size: $h2-font-size !important;
}

h3, .h3 {
  font-size: $h3-font-size !important;
}

h4, .h4 {
  font-size: $h4-font-size !important;
}

h5, .h5 {
  font-size: $h5-font-size !important;
}

h6, .h6 {
  font-size: $h6-font-size !important;
}

.helpdoc {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    &:hover {
      a {
        opacity: 1;
      }
    }

    a {
      &:hover {
        opacity: 1;
      }
      position: absolute;
      left: -2rem;
      width: 2rem;
      margin: .25rem 0;
      font-size: 1.25rem;

      text-decoration: none;
      opacity: 0;
    }
  }

  h1 {
    a.anchor-link {
      line-height: 2.5rem;
    }
  }

  h2 {
    a.anchor-link {
      line-height: 2rem;
    }
  }

  h3 {
    a.anchor-link {
      line-height: 1.5rem;
    }
  }

  h4 {
    &.anchor-link {
      line-height: 1rem;
    }
  }

  h5 {
    a.anchor-link {
      line-height: 2.5rem;
    }
  }

  h6 {
    a.anchor-link {
      line-height: 2.5rem;
    }
  }

  &.helpdoc-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1300;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    background-color: #fff;


    @include media-breakpoint-up(sm) {
      width: 32rem;
      padding: 1.25rem;
    }
  }

  .blockquote {
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-left: 4px solid rgba(0, 0, 0, .25);
  }

  code {
    padding: .1rem .5rem;
    margin: .25rem;
    color: $dark;
    background-color: $light;
    border: 1px solid $gray-400 !important;
    border-radius: .25rem;
  }

  pre code {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
}

@each $color, $value in $grays {
    .text-gray-#{$color} {
        color: $value !important;
    }
}
/* stylelint-enable */
